@import "variables";
@import "bootstrap";
@import "webfonts";

body {
  background-color: #1a2026;
//  color: $color-4;
  color: #fafaff;
  font-size: 16px;
  font-weight: 300;
  width: 100%;
  height: 100%;
  display: table;
  padding-left: 50px;
}

.logo {
  position: absolute;
  top: 50%;
  margin-top: -4.4rem;
  @include img-retina("../img/drewhammond.png", "../img/drewhammond@2x.png", 366, 88);
  height: 8.8rem;
  width: 36.6rem;
  background-repeat: no-repeat;
}

.jumbotron {
  color: $color-1;
  h1 {
    font-weight: 700;
  }

  background-color: $color-5;
}

// Footer styles
@import "partials/footer";