// Footer styles

.footer {
//  font-size: 14px;
  height: 60px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: block;
//  color: #fff;
  background-color: transparentize(#fff, 0.96);

  div {
	font-size: 14px;
	line-height: 60px;
	color: #3e6372;
  }

  a {
    color: darken(desaturate(#76cdfa, .25), 25%);
  }
}